@font-face {
    font-family: 'Muli-Bold';
    src: local('Muli-Bold'), url(./Muli-Bold.ttf) format('truetype');
}

.walmart {
    background-image: url("banner-dunes.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1000px;
    font-family: "Muli-Bold";
    font-size: 80px;
    text-align: center;
}

